flows.json
[{"id":"3af82246.3634ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"564fac37.f2f5d4","type":"finite-state-machine","z":"3af82246.3634ae","name":"","fsmDefinition":"{\"state\":{\"status\":\"IDLE\",\"data\":{\"x\":5}},\"transitions\":{\"IDLE\":{\"run\":\"RUNNING\"},\"RUNNING\":{\"stop\":\"IDLE\"}}}","sendInitialState":false,"sendStateWithoutChange":false,"showTransitionErrors":true,"x":460,"y":160,"wires":[["8faf6547.fae828"]]},{"id":"ff81134.230b6f","type":"inject","z":"3af82246.3634ae","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":180,"wires":[["564fac37.f2f5d4"]]},{"id":"8faf6547.fae828","type":"debug","z":"3af82246.3634ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":760,"y":180,"wires":[]}]